<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453015020866-ga68jn2rdf91q796qrbnppk0nuvtv1le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453015020866-ga68jn2rdf91q796qrbnppk0nuvtv1le</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyGcGkH-tQFdSIjBUo432MENg4ulXlLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>453015020866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gojo</string>
	<key>PROJECT_ID</key>
	<string>gojo-s</string>
	<key>STORAGE_BUCKET</key>
	<string>gojo-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453015020866:ios:5195f545afc209d03ed4db</string>
</dict>
</plist>